.cs-svg-icon:after, i.cs-svg-icon:after, span.cs-svg-icon:after {
  content: "";
  display: inline-block;
  text-indent: -9999px;
  width: 18px;
  height: 22px;
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.cs-svg-icon.cs-xs-icon:after, i.cs-svg-icon.cs-xs-icon:after, span.cs-svg-icon.cs-xs-icon:after {
  width: 18px !important;
  height: 21px !important;
}
.cs-svg-icon.arrow-1:after {
  background-image: url(../ch-icons/arrow-1.svg);
}
.cs-svg-icon.arrow-bottom:after {
  background-image: url(../ch-icons/arrow-bottom.svg);
}
.cs-svg-icon.attach-01:after {
  background-image: url(../ch-icons/attach-01.svg);
}
.cs-svg-icon.calendar-empty:after {
  background-image: url(../ch-icons/calendar-empty.svg);
}
.cs-svg-icon.calendar-01-dark:after {
  background-image: url(../ch-icons/calendar-01-dark.svg);
}
.cs-svg-icon.calendar-01:after {
  background-image: url(../ch-icons/calendar-01.svg);
}
.cs-svg-icon.calendar-02:after {
  background-image: url(../ch-icons/calendar-02.svg);
}
.cs-svg-icon.cedvel:after {
  background-image: url(../ch-icons/cedvel.svg);
}
.cs-svg-icon.chat:after {
  background-image: url(../ch-icons/chat.svg);
}
.cs-svg-icon.chat-circle:after {
  background-image: url(../ch-icons/chat-circle.svg);
}
.cs-svg-icon.chat-circle-dark:after {
  background-image: url(../ch-icons/chat-circle-dark.svg);
}
.cs-svg-icon.checkbox-circle:after {
  background-image: url(../ch-icons/checkbox-circle.svg);
}
.cs-svg-icon.circle:after {
  background-image: url(../ch-icons/circle.svg);
}
.cs-svg-icon.clock-03:after {
  background-image: url(../ch-icons/clock-03.svg);
}
.cs-svg-icon.x-close:after {
  background-image: url(../ch-icons/x-close.svg);
}
.cs-svg-icon.close-icon:after {
  background-image: url(../ch-icons/close-icon.svg);
}
.cs-svg-icon.close-white:after {
  background-image: url(../ch-icons/close-white.svg);
}
.cs-svg-icon.dot-circle:after {
  background-image: url(../ch-icons/dot-circle.svg);
}
.cs-svg-icon.dot-radar:after {
  background-image: url(../ch-icons/dot-radar.svg);
}
.cs-svg-icon.double-checkbox:after {
  background-image: url(../ch-icons/double-checkbox.svg);
}
.cs-svg-icon.eye-01:after {
  background-image: url(../ch-icons/eye-01.svg);
}
.cs-svg-icon.eye-02:after {
  background-image: url(../ch-icons/eye-02.svg);
}
.cs-svg-icon.filter:after {
  background-image: url(../ch-icons/filter.svg);
}
.cs-svg-icon.fullscreen:after {
  background-image: url(../ch-icons/fullscreen.svg);
}
.cs-svg-icon.help-icon:after {
  background-image: url(../ch-icons/help-icon.svg);
}
.cs-svg-icon.hour-01:after {
  background-image: url(../ch-icons/hour-01.svg);
}
.cs-svg-icon.hour-02:after {
  background-image: url(../ch-icons/hour-02.svg);
}
.cs-svg-icon.hour-03:after {
  background-image: url(../ch-icons/hour-03.svg);
}
.cs-svg-icon.hours:after {
  background-image: url(../ch-icons/hours.svg);
}
.cs-svg-icon.hour-update:after {
  background-image: url(../ch-icons/hour-update.svg);
}
.cs-svg-icon.icrada:after {
  background-image: url(../ch-icons/icrada.svg);
}
.cs-svg-icon.id:after {
  background-image: url(../ch-icons/id.svg);
}
.cs-svg-icon.id-white:after {
  background-image: url(../ch-icons/id-white.svg);
}
.cs-svg-icon.info:after {
  background-image: url(../ch-icons/info.svg);
}
.cs-svg-icon.kanban:after {
  background-image: url(../ch-icons/kanban.svg);
}
.cs-svg-icon.list-checking:after {
  background-image: url(../ch-icons/list-checking.svg);
}
.cs-svg-icon.menu-01:after {
  background-image: url(../ch-icons/menu-01.svg);
}
.cs-svg-icon.money:after {
  background-image: url(../ch-icons/money.svg);
}
.cs-svg-icon.none:after {
  background-image: url(../ch-icons/none.svg);
}
.cs-svg-icon.none-white:after {
  background-image: url(../ch-icons/none-white.svg);
}
.cs-svg-icon.note:after {
  background-image: url(../ch-icons/note.svg);
}
.cs-svg-icon.page-left:after {
  background-image: url(../ch-icons/page-left.svg);
}
.cs-svg-icon.page-right:after {
  background-image: url(../ch-icons/page-right.svg);
}
.cs-svg-icon.plus-circle:after {
  background-image: url(../ch-icons/plus-circle.svg);
}
.cs-svg-icon.refresh:after {
  background-image: url(../ch-icons/refresh.svg);
}
.cs-svg-icon.refresh-three:after {
  background-image: url(../ch-icons/refresh-three.svg);
}
.cs-svg-icon.right-circle:after {
  background-image: url(../ch-icons/right-circle.svg);
}
.cs-svg-icon.right-circle-02:after {
  background-image: url(../ch-icons/right-circle-02.svg);
}
.cs-svg-icon.search:after {
  background-image: url(../ch-icons/search.svg);
}
.cs-svg-icon.setting-checkbox:after {
  background-image: url(../ch-icons/setting-checkbox.svg);
}
.cs-svg-icon.shtamp-circle:after {
  background-image: url(../ch-icons/shtamp-circle.svg);
}
.cs-svg-icon.simple-icon:after {
  background-image: url(../ch-icons/simple-icon.svg);
}
.cs-svg-icon.subtract:after {
  background-image: url(../ch-icons/subtract.svg);
}
.cs-svg-icon.task-01:after {
  background-image: url(../ch-icons/task-01.svg);
}
.cs-svg-icon.task-02:after {
  background-image: url(../ch-icons/task-02.svg);
}
.cs-svg-icon.task-03:after {
  background-image: url(../ch-icons/task-03.svg);
}
.cs-svg-icon.task-checking:after {
  background-image: url(../ch-icons/task-checking.svg);
}
.cs-svg-icon.task-plus:after {
  background-image: url(../ch-icons/task-plus.svg);
}
.cs-svg-icon.user-circle:after {
  background-image: url(../ch-icons/user-circle.svg);
}
.cs-svg-icon.user-eye:after {
  background-image: url(../ch-icons/user-eye.svg);
}
.cs-svg-icon.user-eye-o:after {
  background-image: url(../ch-icons/user-eye-o.svg);
}
.cs-svg-icon.users-circle:after {
  background-image: url(../ch-icons/users-circle.svg);
}
.cs-svg-icon.user-circle-white:after {
  background-image: url(../ch-icons/user-circle-white.svg);
}
.cs-svg-icon.users-circle-white:after {
  background-image: url(../ch-icons/users-circle-white.svg);
}
.cs-svg-icon.star-rating:after {
  background-image: url(../ch-icons/star-rating.svg);
}
.cs-svg-icon.home-white:after {
  background-image: url(../ch-icons/home-white.svg);
}
.cs-svg-icon.sticky-notes:after {
  background-image: url(../ch-icons/sticky-notes.svg);
}
.cs-svg-icon.cs-row-style:after {
  background-image: url(../ch-icons/row-style.svg);
}
.cs-svg-icon.cs-col-style:after {
  background-image: url(../ch-icons/col-style.svg);
}
.cs-svg-icon.user-question:after {
  background-image: url(../ch-icons/user-question.svg);
}
.cs-svg-icon.situation:after {
  background-image: url(../ch-icons/situation.svg);
}
.cs-svg-icon.financial-situation:after {
  background-image: url(../ch-icons/financial-situation.svg);
}
.cs-svg-icon.quality-situation:after {
  background-image: url(../ch-icons/quality-situation.svg);
}
.cs-svg-icon.arrow-right-doc:after {
  background-image: url(../ch-icons/arrow-right-doc.svg);
}
.cs-svg-icon.arrow-left-doc:after {
  background-image: url(../ch-icons/arrow-left-doc.svg);
}
.cs-svg-icon.status:after {
  background-image: url(../ch-icons/status.svg);
}
.cs-svg-icon.numbers:after {
  background-image: url(../ch-icons/numbers.svg);
}
.cs-svg-icon.numbers-white:after {
  background-image: url(../ch-icons/numbers-white.svg);
}
.cs-svg-icon.deadline:after {
  background-image: url(../ch-icons/deadline.svg);
}
.cs-svg-icon.flame:after {
  background-image: url(../ch-icons/flame.svg);
}
.cs-svg-icon.task-user-1:after {
  background-image: url(../ch-icons/task-user-1.svg);
}
.cs-svg-icon.task-user-2:after {
  background-image: url(../ch-icons/task-user-2.svg);
}
.cs-svg-icon.user-group:after {
  background-image: url(../ch-icons/user-group.svg);
}
.cs-svg-icon.sub-task:after {
  background-image: url(../ch-icons/sub-task.svg);
}
.cs-svg-icon.new-task:after {
  background-image: url(../ch-icons/new-task.svg);
}
.cs-svg-icon.link:after {
  background-image: url(../ch-icons/link.svg);
}
.cs-svg-icon.tapshiriq:after {
  background-image: url(../ch-icons/tapshiriq.svg);
}
.cs-svg-icon.tapshiriq-light:after {
  background-image: url(../ch-icons/tapshiriq-light.svg);
}
.cs-svg-icon.toplanti:after {
  background-image: url(../ch-icons/toplanti.svg);
}
.cs-svg-icon.toplanti-light:after {
  background-image: url(../ch-icons/toplanti-light.svg);
}
.cs-svg-icon.details:after {
  background-image: url(../ch-icons/details.svg);
  height: 18px;
}
.cs-svg-icon.schedule:after {
  background-image: url(../ch-icons/schedule.svg);
}
.cs-svg-icon.observer:after {
  background-image: url(../ch-icons/observer.svg);
}
.cs-svg-icon.subtask:after {
  background-image: url(../ch-icons/subtask.svg);
}
.cs-svg-icon.subtask-o:after {
  background-image: url(../ch-icons/subtask-o.svg);
}
.cs-svg-icon.subtask-o-light:after {
  background-image: url(../ch-icons/subtask-o-light.svg);
}
.cs-svg-icon.subtask-light:after {
  background-image: url(../ch-icons/subtask-light.svg);
}
.cs-svg-icon.participant:after {
  background-image: url(../ch-icons/participant.svg);
}
.cs-svg-icon.title-decor-left:after {
  background-image: url(../ch-icons/title-decor-left.svg);
}
.cs-svg-icon.title-decor-right:after {
  background-image: url(../ch-icons/title-decor-right.svg);
}
.cs-svg-icon.hammer:after {
  background-image: url(../ch-icons/hammer.svg);
}
.cs-svg-icon.comment:after {
  background-image: url(../ch-icons/comment.svg);
}
.cs-svg-icon.comment-01:after {
  background-image: url(../ch-icons/comment-01.svg);
}
.cs-svg-icon.input:after {
  background-image: url(../ch-icons/input.svg);
}
.cs-svg-icon.live:after {
  background-image: url(../ch-icons/live.svg);
}
.cs-svg-icon.created-task-btn-bg:after {
  background-image: url(../ch-icons/created-task-btn-bg.svg);
}
.cs-svg-icon.humidity:after {
  background-image: url(../ch-icons/humidity.svg);
}
.cs-svg-icon.wind-speed:after {
  background-image: url(../ch-icons/wind-speed.svg);
}
.cs-svg-icon.novbeti:after {
  background-image: url(../ch-icons/novbeti.svg);
}
.cs-svg-icon.imtina:after {
  background-image: url(../ch-icons/imtina.svg);
}
.cs-svg-icon.legv:after {
  background-image: url(../ch-icons/legv.svg);
}
.cs-svg-icon.yonlendir:after {
  background-image: url(../ch-icons/yonlendir.svg);
}
.cs-svg-icon.nezaretci:after {
  background-image: url(../ch-icons/nezaretci.svg);
}
.cs-svg-icon.nezaretci:after {
  background-image: url(../ch-icons/nezaretci.svg);
}
.cs-svg-icon.nezaretci-o:after {
  background-image: url(../ch-icons/nezaretci-o.svg);
}
.cs-svg-icon.tarixce:after {
  background-image: url(../ch-icons/tarixce.svg);
}
.cs-svg-icon.c-icon-1:after {
  background-image: url(../ch-icons/c-icon-1.svg);
}
.cs-svg-icon.c-icon-2:after {
  background-image: url(../ch-icons/c-icon-2.svg);
}
.cs-svg-icon.c-icon-3:after {
  background-image: url(../ch-icons/c-icon-3.svg);
}
.cs-svg-icon.c-icon-4:after {
  background-image: url(../ch-icons/c-icon-4.svg);
}
.cs-svg-icon.c-icon-5:after {
  background-image: url(../ch-icons/c-icon-5.svg);
}
.cs-svg-icon.c-icon-6:after {
  background-image: url(../ch-icons/c-icon-6.svg);
}
.cs-svg-icon.сategory:after {
  background-image: url(../ch-icons/сategory.svg);
}
.cs-svg-icon.сategory-o:after {
  background-image: url(../ch-icons/сategory-o.svg);
}
.cs-svg-icon.siralama:after {
  background-image: url(../ch-icons/siralama.svg);
}
.cs-svg-icon.daxil-eden:after {
  background-image: url(../ch-icons/daxil-eden.svg);
}
.cs-svg-icon.icra-eden:after {
  background-image: url(../ch-icons/icra-eden.svg);
}
.cs-svg-icon.label:after {
  background-image: url(../ch-icons/label.svg);
}
.cs-svg-icon.category:after {
  background-image: url(../ch-icons/category.svg);
}
.cs-svg-icon.box:after {
  background-image: url(../ch-icons/box.svg);
}
.cs-svg-icon.password:after {
  background-image: url(../ch-icons/password.svg);
}
.cs-svg-icon.show-password:after {
  background-image: url(../ch-icons/show-password.svg);
}
.cs-svg-icon.logout:after {
  background-image: url(../ch-icons/logout.svg);
}
.cs-svg-icon.photo:after {
  background-image: url(../ch-icons/photo.svg);
}
.cs-svg-icon.usd:after {
  background-image: url(../ch-icons/usd.svg);
}
.cs-svg-icon.eur:after {
  background-image: url(../ch-icons/euro.svg);
}
.cs-svg-icon.rub:after {
  background-image: url(../ch-icons/rub.svg);
}
.cs-svg-icon.try:after {
  background-image: url(../ch-icons/try.svg);
}
.cs-svg-icon.irr:after {
  background-image: url(../ch-icons/irr.svg);
}
.cs-svg-icon.gel:after {
  background-image: url(../ch-icons/gel.svg);
}
.cs-svg-icon.cny:after {
  background-image: url(../ch-icons/cny.svg);
}
.cs-svg-icon.azn:after {
  background-image: url(../ch-icons/azn.svg);
}
.cs-svg-icon.clear-filter:after {
  background-image: url(../ch-icons/clear-filter.svg);
}
.cs-svg-icon.filter-group:after {
  background-image: url(../ch-icons/filter-group.svg);
}
.cs-svg-icon.filter-sorting:after {
  background-image: url(../ch-icons/sort-filter.svg);
}
.cs-svg-icon.tapshiriq-dark:after {
  background-image: url(../ch-icons/tapshiriq-dark.svg);
}
.cs-svg-icon.users-dark:after {
  background-image: url(../ch-icons/users-dark.svg);
}
.cs-svg-icon.hour-circle:after {
  background-image: url(../ch-icons/hour-circle.svg);
}
.cs-svg-icon.user-addons-icon:after {
  background-image: url(../ch-icons/user-addons-icon.svg);
}
.cs-svg-icon.user-addons-icon-1:after {
  background-image: url(../ch-icons/user-addons-icon-1.svg);
}